footer {
  background: #EDEEF3;
  padding-bottom: 17px;
  color: #6C757D;
  display: flex;
  
  justify-content: center;
  
}

.copyright {
  text-align: center;
}

.copyright:before {
  content: "";
  display: block;
  height: 1px;
  width: 986px;
  background-color: #CED4DA;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}